In [37]:
import numpy as np

# 4 NumPy Basics: Arrays and Vectorized Computation

In [38]:
my_arr = np.arange(1000000)

In [39]:
my_list = list(range(1000000))

In [40]:
%time for _ in range(10): my_arr2 = my_arr * 2
CPU: user 20 ms, sys: 50 ms, total: 70 ms
Wall time: 72.4 ms

SyntaxError: invalid syntax (<ipython-input-40-64e44ce69f04>, line 2)

Not sure why this is not working.

In [ ]:
data = np.random.randn(2,3)

In [ ]:
data

array([[ 0.29307742,  0.13937035, -0.45535355],
       [-0.36435014,  0.17149325, -0.39908872]])

Above, random data is generated

In [ ]:
data * 10

array([[ 2.93077416,  1.39370352, -4.55353554],
       [-3.64350143,  1.71493245, -3.99088721]])

In [ ]:
data + data

array([[ 0.58615483,  0.2787407 , -0.91070711],
       [-0.72870029,  0.34298649, -0.79817744]])

In [ ]:
data.shape

(2, 3)

In [ ]:
data.dtype

dtype('float64')

In [ ]:
data1 = [6,7.5,8,0,1]

In [ ]:
arr1 = np.array(data1)

In [ ]:
arr1

array([6. , 7.5, 8. , 0. , 1. ])

In [ ]:
data2 = [[1,2,3,4], [5,6,7,8]]

In [ ]:
arr2 = np.array(data2)

In [ ]:
arr2

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

In [ ]:
arr2.ndim

2

In [ ]:
arr2.shape

(2, 4)

In [ ]:
arr1.dtype

dtype('float64')

In [ ]:
arr2.dtype

dtype('int64')

In [ ]:
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [ ]:
np.zeros((3,6))

array([[0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.]])

Ah, Above, I see that the 3 and 6 mean...6 columns and 3 rows...very cool

In [ ]:
np.empty((2,3,2))

array([[[-1.49166815e-154, -1.49166815e-154],
        [ 3.45845952e-323,  0.00000000e+000],
        [ 0.00000000e+000,  0.00000000e+000]],

       [[ 0.00000000e+000,  0.00000000e+000],
        [ 0.00000000e+000,  0.00000000e+000],
        [ 0.00000000e+000,  0.00000000e+000]]])

THE TWO MAKES TWO SEPERATE TABLES??

In [41]:
arr1 = np.array([1,2,3], dtype=np.float64)

In [42]:
arr2 = np.array([1,2,3], dtype=np.int32)

In [43]:
arr1.dtype

dtype('float64')

In [44]:
arr2.dtype

dtype('int32')

In [45]:
arr = np.array([1,2,3,4,5])

In [46]:
arr.dtype

dtype('int64')

In [48]:
float_arr = arr.astype(np.float64)

In [49]:
float_arr.dtype

dtype('float64')

In [50]:
arr = np.array([3.7-1.2,-2.6,0.5,12.9,10.1])

In [51]:
arr

array([ 2.5, -2.6,  0.5, 12.9, 10.1])

In [52]:
arr.astype(np.int32)

array([ 2, -2,  0, 12, 10], dtype=int32)

In [55]:
numeric_strings = np.array(['1.25', '-9.6', '42'], dtype=np.string_)

So, I have noticed that if one of the numbers does not have single quotes around it, none of the code will run....it gives an error for another number..in this case, it was 1.25 that was the problem but the syntax error claimed -9.6

In [56]:
numeric_strings.astype(float)

array([ 1.25, -9.6 , 42.  ])

In [57]:
arr = np.array([[1.,2.,3.],[4.,5.,6.]])

In [58]:
arr

array([[1., 2., 3.],
       [4., 5., 6.]])

In [59]:
arr *arr

array([[ 1.,  4.,  9.],
       [16., 25., 36.]])

In [60]:
1 /arr

array([[1.        , 0.5       , 0.33333333],
       [0.25      , 0.2       , 0.16666667]])

In [61]:
arr ** .5

array([[1.        , 1.41421356, 1.73205081],
       [2.        , 2.23606798, 2.44948974]])

In [63]:
arr = np.arange(10)

In [64]:
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [67]:
arr[5:8] = 12

In [68]:
arr

array([ 0,  1,  2,  3,  4, 12, 12, 12,  8,  9])

In [69]:
arr_slice = arr[5:8]

In [70]:
arr_slice[1]

12

In [71]:
arr

array([ 0,  1,  2,  3,  4, 12, 12, 12,  8,  9])

In [73]:
arr_slice[:] = 64

In [77]:
arr2d = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

In [78]:
 arr2d[0][2]

3

In [79]:
arr2d[0,2]

3

In [83]:
arr3d = np.array([[[1,2,3], [4,5,6]], [[7,8,9], [10,11,12]]])

In [84]:
arr3d

array([[[ 1,  2,  3],
        [ 4,  5,  6]],

       [[ 7,  8,  9],
        [10, 11, 12]]])

In [85]:
arr3d[0]

array([[1, 2, 3],
       [4, 5, 6]])

In [87]:
old_values = arr3d[0].copy()

In [88]:
arr3d

array([[[ 1,  2,  3],
        [ 4,  5,  6]],

       [[ 7,  8,  9],
        [10, 11, 12]]])

In [89]:
x = arr3d

In [90]:
x

array([[[ 1,  2,  3],
        [ 4,  5,  6]],

       [[ 7,  8,  9],
        [10, 11, 12]]])

In [91]:
x[0]

array([[1, 2, 3],
       [4, 5, 6]])

In [92]:
arr

array([ 0,  1,  2,  3,  4, 64, 64, 64,  8,  9])

In [93]:
arr[1:6]

array([ 1,  2,  3,  4, 64])

In [94]:
arr2d

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [95]:
arr2d[:2]

array([[1, 2, 3],
       [4, 5, 6]])

In [96]:
arr2d[:2, 1:]

array([[2, 3],
       [5, 6]])

In [97]:
arr2d[1, :2]

array([4, 5])

THIS IS SLICING. YOU CAN DO IT ACCROSS MULTIPLE INDXES

In [98]:
names = np.array(['Bob', 'Joe', 'Will', 'Joe', 'Joe'])

In [99]:
data = np.random.randn(7,4)

In [100]:
names

array(['Bob', 'Joe', 'Will', 'Joe', 'Joe'], dtype='<U4')

In [101]:
data

array([[-0.47000386, -0.54314155,  1.90879184, -0.63440741],
       [-1.09180932, -1.44096614,  1.12752939, -1.73994367],
       [-0.54124586, -1.30579277,  0.30172007,  0.38752673],
       [-1.46208201,  2.02062225,  0.66894663,  0.90106089],
       [-0.07495221,  0.13388756,  0.67063045,  0.26388977],
       [ 0.11126582,  1.23148157, -0.34997438, -1.74351663],
       [-0.90564488, -0.19518011, -0.31403994, -1.23161263]])

What is happening here??

In [104]:
data[names == 'Bob', 2:]

IndexError: boolean index did not match indexed array along dimension 0; dimension is 7 but corresponding boolean dimension is 5